name: My-application-CI

on:
  workflow_dispatch:
    inputs:
      majorversion:
        required: true
        type: string
      minorversion:
        required: true
        type: string
      
  # push:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm run test

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USER }}/mynode-app:v${{ inputs.majorversion }}.${{ inputs.minorversion }}.${{ github.run_number }} .
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USER }}/mynode-app:v${{ inputs.majorversion }}.${{ inputs.minorversion }}.${{ inputs.patchversion }}
